.App {
	text-align: center;
	display: flex;
	justify-content: center;

	button {
		font-weight: bold;
	}
}

.taskSection {
	background-color: rgb(233, 240, 124);
	width:50%;

}

.todoSection {
	background-color: rgb(146, 232, 149);
	width:50%;
}

