.App {
	text-align: center;
	display: flex;
	justify-content: center;

	button {
		font-weight: bold;
	}
}

.taskSection {
	background-color: rgb(233, 240, 124);
	width:50%;
	height: 100vh;

}

.todoSection {
	background-color: rgb(146, 232, 149);
	width:50%;
	height: 100vh;
}


.inputData {
	display: inline-block;
}

.todoHeader {
	margin-bottom: 10px;
}

.todoList {
	 display: flex;
		justify-content: center;
		align-items: center;
}

.task {
	 display: flex;
		justify-content: center;
		position:relative;
		top:30px;
}

.add{
	 display: inline-block;

}

